body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* login */
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border-radius: 25px;
  background-color: #D8BFD8;
  box-shadow: 5px 5px 5px 5px grey;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.tombol-login{
  background-color: #17A2B8;
  color: white;
  font-weight: 20px;
  border-color: 1px #17A2B8;
  border-radius: 25px;
}

/* index */
p{
  text-align: center;
  color: #202020;
}

.container-index{
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border-radius: 25px;
  background-color: #D8BFD8;
}

.datang{
  margin-top: 100px;
  text-align: center;
  color: #202020;
}

.tulisan{
  text-align: center;
}

.tombol-logout{
  background-color: #FFFACD;
  color: #202020;
  font-weight: 20px;
  border-color: 1px #FFFACD;
  border-radius: 25px;
}

