{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>STORY 9</title>
</head>
<body> 
    <div class="tulisan">
        <div class="container-fluid container-index">
            <h1 class="datang"> Halo {{request.user.username}}! </h1>
            <p> Thankyou for visiting our website :)</p>
            <form action="/logout/" method='POST'>
                {% csrf_token %}
                <div class="tengah">
                    <input class="tombol-logout" type="submit" value="Logout">
                </div>
            </form>
        </div>
    </div>
</body>
</html>
